<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- style -->
  <link rel="stylesheet" href="stylesheets/style.css">
  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="javascripts/products.json" defer></script>
  <script src="javascripts/render.js" defer></script>
  <script src="javascripts/filter.js" defer></script>
  <script src="javascripts/simple.js" defer></script>
  <script src="javascripts/popUp.js" defer></script>
  <title>PIAZZA</title>
</head>

<body>
  <!-- HEADER -->
  <input type="checkbox" id="cart">
  <label for="cart" class="labelCart"><span class="fa fa-shopping-basket"></span></label>

  <h3 class="logo">PIAZZA ITALIANA</h3>

  <!-- SIDEBAR -->
  <div class="sideBar">
    <div class="sideBarMenu">
      <a href="/"> <span class="fa fa-home"></span>Home</a>
    </div>
    <div class="sideBarMenu">
      <a href="/login"><span class="fa fa-user-alt"></span>Login</a>
    </div>
  </div>
  <!-- MAIN -->
  <div class="mainPanel">
    <div class="mainPanelBanner">
      <img src="images/image20.jpg" alt="PromoImage">
      <div class="bannerPromo">
        <h1><span>30% OFF</span><br>
          747 <br> Promo Code</h1>
      </div>
    </div>
    <h3 class="mainPanelTitle">Recommended For You</h3>
    <div class="mainPanelMenu">
      <div data-filter="ALL">ALL</div>
      <div data-filter="SPAGHETTI">SPAGHETTI</div>
      <div data-filter="RISOTTO">RISOTTO</div>
    </div>
    <div class="mainPanelContent" id="productsContainer">
    </div>
  </div>
  </div>
  <!-- BASKET -->
  <div id="basket" class="basketOrder">
    <h3>Order Menu</h3>
    <div class="orderAdress">
      <p>Adress Delivery</p>
      <h4>221 B Baker Street, London</h4>
    </div>
    <div class="orderTime">
      <span class="fa fa-clock"></span> 30 min <span class="fa fa-map-marker-alt"> </span> 2 km
    </div>
    <div class="orderWrapper">
    </div>
    <hr class="divider">
    <div class="orderTotal">
      <p>SubTotal <span class="subTotal">0</span> <span class="currency">$</span></p>
      <p>Tax(10%) <span class="subTax">0</span> <span class="currency">$</span></p>
      <p>Delivery Fee <span class="delivery">5</span> <span class="currency">$</span></p>

      <div class="orderPromo">
        <input class="promoInput" id="promoInputId" type="text" placeholder="Apply Voucher" value="">
        <button class="promoButton" data-action="findPromo">Find Promo</button>
      </div>
      <hr class="divider">
      <p>Total <span class="totalPrice">0</span><span class="currency">$</span></p>
    </div>
    <button class="chekout" data-action="chekout">Chekout</button>

    <hr class="divider">
  </div>



</body>

</html>