body::-webkit-scrollbar{
  width: 7px;
}

body::-webkit-scrollbar-track{
  background-color: var(--lightGrey);
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--darkGrey);
  border-radius: 20px;
}
:root{
  --mainColor: #f6f8fa;
  --darkBlack: #2d2f31;
  --darkGrey:#61666b;
  --grey:#d5d5d5;
  --lightGrey:#f2f2f2;
  --red:#df113c;
}

*{
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width:680px) {
  .mainPanel{
    padding-right: 0px;
  }
  .basketOrder{
    width: 100%;
    left: 0px;
  }
}

body{
  width: 100%;
  height: auto;
  color: var(--darkBlack);
}

p{
  font-size: 14px;
}

.labelCart {
  position: fixed;
  top: 15px;
  right: 10px;
  z-index: 4;
  cursor: pointer;
}

.logo {
  position: fixed;
  background-color: var(--darkBlack);
  color: var(--lightGrey);
  width: 100%;
  text-align: center;
  padding: 15px 420px 15px 60px;
  top: 0;
  z-index: 2;
}

.sideBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: var(--mainColor);
  z-index: 1;
  padding-top: 70px;
}

.sideBarMenu{
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  color: var(--darkGrey);
}

.sideBarMenu > a {
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--darkGrey);
}

.sideBarMenu:hover{
  border-right: 2px solid var(--red) ;
  color: var(--red);
}

.sideBarMenu:hover>a{
  color: var(--red);
}

.mainPanel{
  height: 100%;
  width: 100%;
  padding-right: 360px;
  padding-left: 60px;
}
.mainPanelBanner{
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.mainPanelBanner > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.bannerPromo{
position: absolute;
color: var(--lightGrey);
top: 25%;
left: 10%;
font-weight: 800;
}

.bannerPromo > h1 > span{
color: var(--red);
}



.mainPanelTitle{
  padding: 0 1rem;
}

.mainPanelMenu{
  display: flex;
  gap: 10px;
  padding: 0.3rem 1rem;
  overflow-x: auto;
}

.mainPanelMenu > div {
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  min-width: 120px;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  color: var(--darkBlack);
  background-color: var(--lightGrey);
}

.mainPanelMenu > div:hover {
  color: var(--lightGrey);
  background-color: var(--red);
}

.mainPanelContent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1 rem;
}

.mainPanelCard{
  background-color: var(--mainColor);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  border-radius: 15px;
  position: relative; 
  cursor: pointer;
}
.mainPanelCard:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  transition: 0.5s;
}

.cardImage{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.cardText{
  padding: 10px;
}

.cardText>h4>span{
  float: right;
}
.cardTime{
  color: var(--darkGrey);
  font-size: 0.8rem;
  padding-top: 10px;
}
#infoButton{
  z-index: 2;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  float: right;
  }

.basketOrder{
  width: 340px;
  min-height: 100%;
  position: fixed;
  top:0;
  right: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--mainColor);
  z-index: 2;
}

.basketOrder > h3{
  padding: 10px 0;
}

.orderAdress>h4{
  line-height: 2;  
}
.order-time{
  font-size: 0.8rem;
  color: var(--darkGrey);
}


.orderWrapper{
  height: 250px;
  width: 100%;
  overflow-y: scroll;
  margin: 20px 0;
}

.orderWrapper::-webkit-scrollbar{
  width: 7px;
}

.orderWrapper::-webkit-scrollbar-track{
  background-color: var(--lightGrey);
  border-radius: 20px;
}
.orderWrapper::-webkit-scrollbar-thumb{
  background-color: var(--darkGrey);
  border-radius: 20px;
}
.orderCard{
  display: grid;
  grid-template-columns: 0.6fr 1fr 0.5fr;
  padding: 10px 0;
  gap: 5px;
  justify-content: space-around;
  align-items: flex-start;
}

.orderImage{
  margin: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.orderText > p {
  margin: 5px;
  padding: 5px;
}
.counterWrapper > span {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 2px solid var(--grey);
  border-radius: 10px;
  background-color: transparent;
  margin-top: 10px;
  padding: 5px 10px;
}

#times{
  float: right;
}
.orderPrice{
  margin: 10px;
}
.divider{
  width: 100%;
  margin: 13px;
  border: 1px dashed var(--grey);
}

.orderTotal > p {
padding: 10px 0px;
}

.currency{
  float: right;
}

.orderTotal > p > .subTotal,.subTax,.delivery,.totalPrice{
  float: right;
  font-weight: 600px;
}

.orderPromo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightGrey);
  border: 2px solid var(--grey);
  height: 45px;
  border-radius: 10px;
  padding: 0 5px;
  margin: 5px 0 10px 0;
}

.promoInput{
  height: 100%;
  background-color: transparent;
  border: none;
}

.promoButton{
  float: right;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  height: 80%;
  width: 100px;
  cursor: pointer;
}

.chekout {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: var(--red);
  border: none;
  border-radius: 20px;
  color: var(--lightGrey);
  cursor: pointer;
}

#cart {
  display: none;
}
#cart:checked ~ .labelCart{
  color: var(--lightGrey);
}
#cart:checked ~ .mainPanel{
  padding-right: 10px;
}
#cart:checked ~ .basketOrder{
  display: none;
}
#cart:checked ~ .logo{
  padding-right: 0px;
}


.popUp{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.popUp.active{
  display: block;
}

.popUpContainter{
  display: flex;
  width: 100%;
  height: 100%;
}

.popUpBody{
  top: 100px;
  margin: auto;
  width: 400px;
  background-color: var(--mainColor);
  border-radius: 15px;
  text-align: center;
  padding: 80px 15px 80px 15px;
  position: relative;
}

.popUpBody > p{
  font-size: 25px;
  font-weight: 600px;
  color: #2d2f31;
  margin-bottom: 40px;
}
.popUpBody input{
  display: block;
  margin: 25px auto 0px auto;
  width: 330px;
  padding: 17px 28px;
  background-color: var(--lightGrey);
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  color: var(--darkGrey);
}

.popUpBody button{
  cursor: pointer;
  display: block;
  width: 330px;
  margin: 60px auto 0 auto;
  padding: 20px 0px;
  font-weight: 500;
  font-size: 15px;
  border: none;
  color: var(--lightGrey);
  border-radius: 10px;
  background-color: var(--red);
}

.popUpClose {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}